<!DOCTYPE html>
<html lang="en">
<head>
    <title>MTG Inventory</title>
</head>
<body>
    <%- include('sidebar', {links: links}) %>
    <h1><%= title %></h1>
    <div>
        <% collection.forEach((card) => { %>
            <a href="/MTG/<%= card.card_id %>"><%= card.card_name %> <%= card.cost %> <%= card.rarity%> <%= card.quantity %></a>
        <% }); %>
    </div>

</body>
</html>