<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update <%= card.card_name %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <%- include('sidebar', { links: links }) %>
    <div class="bodyDiv">
      <h1><%= card.card_name %></h1>
      <div class="inventoryDiv">
        <form action="/<%= tcg %>/<%= card.card_id %>/update" method="POST">
          <input
            type="number"
            name="card_id"
            value="<%= card.card_id %>"
            readonly
          />
          <br>
          <input type="text" name="card_name" value="<%= card.card_name %>" />
          <br>
          <input type="text" name="card_cost" value="<%= card.cost %>" />
          <br>
          <select name="card_rarity" value="<%= card.rarity %>">
            <option value="common">Common</option>
            <option value="uncommon">Uncommon</option>
            <option value="rare">Rare</option>
            <option value="mythic">Mythic</option>
          </select>
          <br>
          <input type="number" name="card_quantity" value="<%= card.quantity %>" />
          <br>
          <input type="submit" />
        </form>
      </div>
    </div>
  </body>
</html>
